form {
  width: 290px;
  margin: 0 auto;
  padding: 5px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #484242;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

label[for="accept"] {
  justify-content: start;
}

input {
  width: 180px;
  border: 1px solid #ededed;
}

input[type="checkbox"] {
  width: auto;
  margin-left: 0;
}

button {
  align-self: flex-start;
  width: 80px;
  margin: 20px 0;
  padding: 8px 14px;
  font-size: 10px;
  background-color: #4d7a70;
  color: #fff;
  border: 0;
}

span {
  align-self: flex-start;
  font-size: 10px;
  color: #c57979;
}

h4 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #43854c;
}

ul {
  text-align: center;
  list-style-type: none;
  font-size: 10px;
}